.formContainer {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
    padding        : 2rem;
    min-height     : 100vh;

    .infoShow {
        width        : 40%;
        height       : 3rem;
        margin-bottom: 1rem;
        text-align   : center;
        font-size    : 2.5rem;

        .errorSms {
            color: var(--red);
        }

        .conformSms {
            color: var(--blue);
        }
    }

    form {
        width           : 50rem;
        border-radius   : .5rem;
        background-color: var(--black);
        padding         : 3rem;
        padding-bottom  : 2rem;
        text-align      : center;
        // box-shadow: 1rem 1rem 1rem .4rem black;

        h3 {
            font-size     : 3.5rem;
            margin-bottom : 1.5rem;
            color         : var(--white);
            text-transform: uppercase;
        }

        .box {
            width           : 100%;
            border-radius   : .5rem;
            padding         : 1.2rem 1.4rem;
            font-size       : 1.8rem;
            color           : var(--white);
            background-color: var(--lightBG);
            margin          : 1rem 0;

            &::placeholder {
                text-transform: capitalize;
            }
        }

        p {
            font-size: 2rem;
            color    : var(--lightColor);
            padding  : 1rem 0;

            span {
                color : var(--blue);
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .passForget {
            padding: 2rem 0 0;
        }
    }
}